@import 'imports';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100vw;
}

body {
  position: relative;
  background: $dark;
  overflow-x: hidden;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 90vw;
  min-height: 100vh;
  max-width: 80vw;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @include for-phone-only {
    width: 100vw; // prevent scroll x
    max-width: 100vw; // prevent scroll x
    padding: 1rem;
  }

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    filter: blur($filterBlur);
    z-index: -1;
    pointer-events: none;
  }
}

h1 {
  @extend .crt-blur;
  width: 100%;
  height: fit-content;
  color: $light;
  font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
  font-size: 8rem;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;

  @include for-phone-only {
    font-size: 5rem;
    text-align: center;
  }
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden-on-phone {
  @include for-phone-only {
    display: none;
  }
}
