// Width
::-webkit-scrollbar {
  width: 16px;
}

// Track
::-webkit-scrollbar-track {
  background: #222;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $accent;
}

// Handle:hover
::-webkit-scrollbar-thumb:hover {
  background: $accent;
}
