$breakpoints: (
  mobile: 0px,
  tablet: 680px,
  desktop: 960px,
  desktop-lg: 1200px,
);

@mixin media($keys...) {
  @each $key in $keys {
    @media (min-width: map-get($breakpoints, $key)) {
      @content;
    }
  }
}
