#home {
  @extend .flex-center;
  position: relative;

  .brand {
    @extend .flex-center;
    position: relative;
    width: 100%;
    z-index: 99;
    flex-direction: column;
    transform: rotate(0);

    @include media(desktop) {
      transform: rotate(-1.5deg);
    }

    .brand-text {
      max-width: fit-content;
      color: transparent;
      text-transform: uppercase;
      -webkit-text-stroke-width: 4px;

      // Mobile branding
      &.mobile {
        // Default visible (mobile-first)

        // Hide on desktop
        @include media(desktop) {
          display: none;
        }
      }

      // Desktop branding
      &:not(.mobile) {
        // Default hidden (mobile-first)
        display: none;

        // Show on desktop
        @include media(desktop) {
          display: block;
        }
      }
    }

    .brand-primary {
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-weight: 900;
      letter-spacing: 4px;
      transform: skew(-15deg);
      filter: drop-shadow(4px 4px 8px $accent) blur($filterBlur);
      -webkit-text-stroke-color: $accent;

      @include media(mobile) {
        font-size: 12em;
        letter-spacing: 2px;
        text-align: left;
        transform: skew(0);
        -webkit-text-stroke-width: 3px;
      }

      @include media(tablet) {
        font-size: 8em;
      }

      @include media(desktop) {
        font-size: 4em;
        transform: skew(-10deg);
      }

      .fill {
        color: $accent;
        opacity: 0.75;
      }
    }

    .brand-secondary {
      position: relative;
      width: 0;
      left: 0;
      color: $light;
      font-family: 'Raleway', Arial, Helvetica, sans-serif;
      font-weight: 800;
      letter-spacing: 3px;
      text-align: left;
      opacity: 1;
      transform: skew(-10deg);
      filter: drop-shadow(3px 3px 6px transparentize($color: $light, $amount: 0.5))
        blur($filterBlur);

      @include media(mobile) {
        width: 100%;
        font-size: 8em;
        line-height: 1.2;
        transform: skew(0);
      }

      @include media(tablet) {
        font-size: 6em;
      }

      @include media(desktop) {
        font-size: 2.5em;
        transform: skew(-10deg);
      }
    }
  }
}
