#navscreen {
  // opacity: 0; // default closed
  position: fixed;
  width: 100vw;
  height: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  flex-direction: column;
  background: $dark;
  z-index: 100;
  transition: opacity 0.33s, height 0.33s ease-in-out;
  pointer-events: none;

  &.active {
    pointer-events: all;
    height: 100%;
  }

  .navscreen-link {
    margin: 1rem;
    color: #aaa;
    font-size: 2rem;
    font-weight: bold;
    font-family: 'VCR', Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    filter: drop-shadow(3px 3px 6px #888) blur($filterBlur + 0.5px);

    &::before,
    &::after {
      position: absolute;
      content: attr(data-glitch);
      width: 100%;
      height: 100%;
      left: 0;
      opacity: 0.4;
    }

    &:hover {
      color: #fff;
      transform: scale(1.1) !important;
      filter: blur($filterBlur);
      cursor: pointer;
    }

    &:hover::before {
      color: cyan;
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    }

    &:hover::after {
      color: fuchsia;
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
        infinite;
    }

    &.active {
      color: #fff;
    }
  }

  .socials {
    position: absolute;
    bottom: 50px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .navscreen-link:last-child {
      color: $accent;
      filter: drop-shadow(3px 3px 6px $accent) blur($filterBlur);
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }

    i {
      font-size: 2.5rem;
    }
  }
}
