#navscreen {
    // default visibility:
    opacity: 0;

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    flex-direction: column;
    background: $dark;
    z-index: 100;
    transition: opacity 0.33s;
    pointer-events: none;

    &.active {
        pointer-events: all;
    }

    .navscreen-link {
        margin: 1rem auto;
        color: #aaa;
        font-size: 2rem;
        font-weight: bold;
        font-family: 'VCR', Arial, Helvetica, sans-serif;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 6px;
        filter: drop-shadow(3px 3px 6px #888) blur(1.5px);

        &::before, 
        &::after {
            position: absolute;     
            content: attr(data-glitch);
            width: 100%;
            height: 100%;
            left: 0;
            opacity: 0.4;
        }

        &:hover {
            color: #fff;
            transform: scale(1.1) !important;
            filter: blur(1px);
            cursor: pointer;   
        }

        &:hover::before {
            color: cyan;
            animation: glitch .3s cubic-bezier(.25, .46, .45, .94) both infinite;
        }
        
        &:hover::after {
            color: fuchsia;
            animation: glitch .3s cubic-bezier(.25, .46, .45, .94) reverse both infinite;
        }

        &.active { 
            color: #fff;
        }
    }

    .socials {
        flex-direction: row;
        align-items: center;
        justify-content: center;

        i { font-size: 2.5rem; }
    }
}