#portfolio {
  @extend .crt-blur;
  background-color: $dark;

  h1 {
    color: $light;
    font-size: 8em;
    text-align: center;

    @include media(desktop) {
      text-align: left;
    }
  }

  figure {
    position: relative;

    @include media(mobile) {
      margin: 16px auto;
      display: flex;
      flex-direction: column-reverse;
      border: 2px solid transparent;
      transition: border $hoverTransition;

      &:hover {
        border: 2px solid $accent;
      }
    }

    @include media(desktop) {
      margin: 0;
      border: none;

      &:hover {
        border: none;
      }
    }
  }

  figure:hover .figure-overlay {
    opacity: 0.98;
    width: 100%;
    background: $accent;
    color: $light;

    @include media(desktop) {
      width: 50%;
    }
  }
  figure:hover .figure-overlay a,
  figure:hover .figure-overlay h3 {
    color: $dark !important;
  }
  figure:hover .figure-overlay a:hover {
    color: $light !important;
  }
  figure:hover .figure-overlay p {
    color: $light;
  }
  @media screen and (min-width: 960px) {
    figure:hover .figure-overlay {
      width: 250px;
    }
  }
  figure:hover .featured {
    color: $light;
  }
  figure:hover .figure-img {
    filter: saturate(1);
  }
  figure .figure-img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-height: 500px;
    object-fit: cover;
    filter: saturate(0);
    transition: 0.5s;

    @include media(mobile) {
      max-height: 150px;
      object-fit: contain;
    }

    @include media(desktop) {
      max-height: 500px;
      object-fit: cover;
    }
  }
  figure .figure-overlay {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.95);
    opacity: 1;
    transition: all $hoverTransition;

    @include media(desktop) {
      position: absolute;
    }
  }
  figure .figure-overlay h3 {
    color: $light;
    flex: 0.25;
    margin-bottom: 10px;
    font-size: 4em;
    transition: 0.25s;

    @include media(tablet) {
      font-size: 3em;
    }

    @include media(desktop) {
      font-size: 1em;
    }
  }
  figure .figure-overlay p {
    flex: 0.25;
    color: #777;
    font-size: 2.5em;
    font-weight: 400;

    @include media(tablet) {
      font-size: 1.75em;
    }

    @include media(desktop) {
      font-size: 0.66em;
    }

    @include media(desktop-lg) {
      font-size: 0.55em;
    }
  }
  figure .figure-overlay a {
    color: $accent;
  }
  figure .figure-overlay a:hover {
    color: $light;
  }
  figure .figure-overlay .overlay-links {
    flex: 2;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  figure .figure-overlay .overlay-links li {
    margin: 0 10px 0 0;
  }
  figure .figure-overlay .overlay-links a {
    // color: transparent;
    transition: color 0.35s;
    font-size: 2.5rem;

    @include media(tablet) {
      font-size: 1.75rem;
    }

    @include media(desktop) {
      font-size: 0.66rem;
    }

    @include media(desktop-lg) {
      font-size: 0.55rem;
    }
  }

  .block {
    padding: 40px;
    background-color: $gray;
    color: $light;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
  }
  .block .block-link {
    color: $accent;
    transition: color 0.25s;
  }
  .block .block-link:hover {
    color: #fff;
  }
  .block1 {
    position: relative;

    p {
      margin-top: 16px;
      font-size: 3.5em;
      text-align: center;

      @include media(tablet) {
        font-size: 2em;
      }

      @include media(desktop) {
        text-align: left;
        font-size: 1em;
      }

      @include media(desktop-lg) {
        font-size: 0.75em;
      }
    }
  }
  @media screen and (min-width: 1100px) {
    .block1 {
      grid-column: span 2;
      grid-row: span 2;
    }
  }

  .block2 h3,
  .block2 p {
    font-size: 3rem;
    text-align: right;

    @include media(tablet) {
      font-size: 2em;
    }
    @include media(desktop) {
      font-size: 1em;
    }
  }
  .block2 p {
    margin: 8px 0;
    color: #777;
  }
  @media screen and (min-width: 1100px) {
    .block2 {
      grid-column: span 2;
    }
  }
  @media screen and (min-width: 1100px) {
    #our-work {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .figure1 {
      grid-column: span 4;
      grid-row: span 2;
    }
    .figure2,
    .figure3 {
      grid-column: span 3;
    }
    .figure4,
    .figure5 {
      grid-column: span 2;
    }
  }
}
