#portfolio {
  @extend .crt-blur;
  background-color: $dark;

  h1 {
    font-size: 8rem;
    text-transform: uppercase;
    color: $light;
  }

  figure {
    position: relative;
  }

  figure:hover .figure-overlay {
    opacity: 0.98;
    width: 50%;
    background: $accent;
    color: $light;
  }
  figure:hover .figure-overlay a,
  figure:hover .figure-overlay h3 {
    color: $dark !important;
  }
  figure:hover .figure-overlay a:hover {
    color: $light !important;
  }
  figure:hover .figure-overlay p {
    color: $light;
  }
  @media screen and (min-width: 1100px) {
    figure:hover .figure-overlay {
      width: 250px;
    }
  }
  figure:hover .featured {
    color: $light;
  }
  figure:hover .figure-img {
    filter: saturate(1);
  }
  figure .figure-img {
    display: block;
    width: 100%;
    height: 100%;
    min-height: 300px;
    max-height: 500px;
    object-fit: cover;
    filter: saturate(0);
    transition: 0.5s;
  }
  figure .figure-overlay {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(0, 0, 0, 0.95);
    opacity: 1;
    transition: all $hoverTransition;
  }
  figure .figure-overlay h3 {
    color: #eee;
    flex: 0.25;
    margin-bottom: 10px;
    font-size: 2rem;
    transition: 0.25s;
  }
  figure .figure-overlay p {
    flex: 0.25;
    color: #777;
    font-size: 1.2rem;
    font-weight: 400;
  }
  figure .figure-overlay a {
    color: $accent;
  }
  figure .figure-overlay a:hover {
    color: $light;
  }
  figure .figure-overlay .overlay-links {
    flex: 2;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.2rem;
  }
  figure .figure-overlay .overlay-links li {
    margin: 0 10px 0 0;
  }
  figure .figure-overlay .overlay-links a {
    // color: transparent;
    transition: color 0.35s;
  }

  .block {
    padding: 40px;
    background-color: $gray;
    color: $light;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
  }
  .block .block-link {
    color: $accent;
    transition: color 0.25s;
  }
  .block .block-link:hover {
    color: #fff;
  }
  .block1 {
    position: relative;
  }
  @media screen and (min-width: 1100px) {
    .block1 {
      grid-column: span 2;
      grid-row: span 2;
    }
  }
  .block2 p {
    margin: 8px 0;
    color: #777;
  }
  @media screen and (min-width: 1100px) {
    .block2 {
      grid-column: span 2;
    }
  }
  @media screen and (min-width: 1100px) {
    #our-work {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .figure1 {
      grid-column: span 4;
      grid-row: span 2;
    }
    .figure2,
    .figure3 {
      grid-column: span 3;
    }
    .figure4,
    .figure5 {
      grid-column: span 2;
    }
  }
}
