#services {
  margin: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  h1 {
    text-align: center;
  }

  .service-cards {
    width: 100%;
    height: fit-content;
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include phone {
      flex-direction: column;
    }
  }
}
