#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .service-cards {
    width: 100%;
    height: fit-content;
    margin: 5% 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    @include media(tablet) {
      align-items: center;
    }

    @include media(desktop) {
      flex-direction: row;
      align-items: flex-start;
    }

    @include media(desktop-lg) {
      margin: 0;
    }
  }
}
